$themeClrPrimary: #0062b9;
$themeClrPrimary: #FBC800;

$cl-primary-600: #DDB203;
$cl-primary-500: #f3c303;
$cl-primary-400: #FCEE17;

$cl-secondary-700: #CD4004;
$cl-secondary-600: #FA560F;
$cl-secondary-500: #FB7237;

$cl-white: #fff;
$cl-black: #000;

$cl-font-900: #000000;
$cl-font-600: #808080;
$cl-font-000: #FFFFFF;

$cl-surface-800: #212026;
$cl-surface-700: #292E1E;
$cl-surface-500: #646368;




$commonBorderRadius: 5px;