.skills {
  display: flex;
  flex-wrap: wrap;

  &__skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba($cl-surface-800, 0.5);
    border-radius: $commonBorderRadius;
    font-weight: 600;
    color: $cl-font-000;
    transition: all .3s;

    &:hover {

      &:hover {
        transform: translateY(-3px);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        // background-color: $cl-primary-500;
        // color: $cl-white;
      }
    }

    // &--one {
    //   background: rgba($cl-surface-800, 0.5);

    // }

    // &--two {
    //   background: rgba($cl-surface-800, 0.7);

    // }

    // &--three {
    //   background: rgba($cl-surface-800, 0.8);
    // }
  }

}
